* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html, body {
  height: 100%;
  width: 100%;
}
.nav{
  height:80px;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: radial-gradient(circle at top, #b41a1a 0%, #b02222 100%);
}

#neel::after{
  content:" Patel";
  color: #b41a1a;
  font-family: cursive;
  
  
}

#neel::before{
  content:"Sheryians Coding School ";
  color: lime;
  font-family: cursive;
}