* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 10px;
  color: white;
}

form{
    height:30%;
    width: 40%;
    display:flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid white;
    gap:10px;
    padding: 20px;
}

input{
    padding: 10px 20px;
    border-radius: 10px;
    border:1px solid red;
    outline: none;
}
button{
    padding: 10px 20px;
    border-radius: 10px;
    border:1px solid red;
    outline: none;
    background-color: red;
    color:white;
    cursor:pointer;
}

.users{
    height: 50%;
    width: 40%;
    display:flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid white;
    gap:10px;
    padding: 20px;
}

.user-card{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
}

