* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: gray;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.bulb{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 10px solid black;
}

button{
 padding:20px 40px;
    background-color: white;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
